<div id="page-content">
  <h3>Student Details</h3>
  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="createNewRecord()">Create</button>
  </div>
  <br/>
  <table mat-table [dataSource]="studentGrid" class="mat-elevation-z8">
      <ng-container matColumnDef="Student Name">
        <th mat-header-cell *matHeaderCellDef> Student Name </th>
        <td mat-cell *matCellDef="let element"> {{element.studentName}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Date of Birth">
        <th mat-header-cell *matHeaderCellDef> Date of Birth </th>
        <td mat-cell *matCellDef="let element"> {{element.dob | date:'dd-MM-yyyy'}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Age">
        <th mat-header-cell *matHeaderCellDef> Age </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Contact No.">
        <th mat-header-cell *matHeaderCellDef> Contact Number </th>
        <td mat-cell *matCellDef="let element"> {{element.contactNo}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row;">
          <button mat-icon-button (click)="editUser(row)">
            <mat-icon>launch</mat-icon>        
          </button>
          <button mat-icon-button (click)="deleteUser(row)">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
    </table>    

    <div *ngIf="studentGrid.length === 0" class="noData">No records found</div>
</div>




<ng-template #studentTemplate>
    <div class="panel panel-primary">
        <div class="panel-heading">
          <div>Student Details</div>
        </div>
        <br/>
        <div class="panel-body">
          <div class="row">
            <form autocomplete="off" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
              <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput  name="studentName" [(ngModel)]="studentForm.studentName" required>
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <input matInput autocomplete="off" readonly [matDatepicker]="picker1" name="dob" [(ngModel)]="studentForm.dob" placeholder="Date Of Birth" required>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Age</mat-label>
                <input matInput type="number" required name="age" [(ngModel)]="studentForm.age">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Contact No</mat-label>
                <input matInput maxlength="10" required name="contactNo" [(ngModel)]="studentForm.contactNo">
              </mat-form-field>
              <div class="col-sm-12" align="center">
                <button mat-button class="submitBtn" mat-raised-button color="primary">Submit</button>
                <button mat-button class="cancelBtn-model" matDialogClose="no"  type="button">No</button>
              </div>
          </form>
          </div>
        </div>
      </div>
</ng-template>